
<div class="row">
	<div class="col-4">
		<h1>Count: @ViewBag.Count</h1>
		<h1>Count: @ViewBag["Count"]</h1> <!-- Breaks here -->
	</div>
</div>

<div class="row">
	<div class="col-12">
		<form asp-controller="Home" asp-action="Counter">
			<label>Increases Count: </label>
			<button type="submit">Click Me</button>
		</form>
	</div>
</div>