<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp_action="Output" method="post">
	<div class="row">
		<div class="col">
			<label> for="FirstName">First Name:</label>
			<input id="FirstName" type="text" name="FirstName" placeholder="Enter First Name" />

		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<label> for="LastName">Last Name:</label>
			<input id="LastName" type="text" name="LastName" placeholder="Enter Last Name" />

		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="submit">Submit</button>
		</div>
	</div>
</form>